.tabNavigation {
  z-index: 1;

  overflow-x: scroll;
  display: flex;
  justify-content: center;

  width: 100%;
}

.tabButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 301px;
  height: 124px;

  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  background: #fff;
  border: none;
  border-right: 1px solid #00000014;
}

.active {
  background: #f7fbff;
}

.tabButton:hover {
  border: 3px solid;
  border-color: #0381ff;
}

.iconWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 68px;
  padding: 6px;

  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
}

.svgIcon {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: white;
}

.activeIcon {
  color: #0381ff;
}

@media (width <=768px) {
  .tabNavigation {
    justify-content: stretch;
  }

  .tabButton {
    min-width: 301px;
  }
}
